body {
    background-color: #d97f0e;
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
.valide {
    color: green;
    font-weight: bold;
  }
  
  .non-valide {
    color: red;
    font-weight: bold;
  }
  