<header>
    <nav class="nav nav-pills nav-fill">
      <a class="nav-link "  href="/dashboard">Tableau de bord</a>
      <a class="nav-link" href="/seances">Calendrier des séances</a>
      <a class="nav-link active" aria-current="page" href="/formulaire">Formulaire de validation des séances</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Deconnexion</a>
    </nav>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12  mt-5">
          <h1>Formulaire de validation des séances</h1>
          <p class="lead">Bienvenue sur la plateforme de gestion des tutorats.</p>
        </div>
      </div>
      <div class="row">
        <select class="form-select" aria-label="Default select example">
            <option selected>Marquer une séance</option>
            <option value="1">effectué</option>
            <option value="2">non effectué</option>
          </select>
      </div>
    </div>
  </body>
    
    <footer>
      <nav class="navbar navbar-light pt-5 mt-5">
        <div class="container-fluid">
          <span class="navbar-text">
            Copyright by G5 - all right reserved
          </span>
        </div>
      </nav>
  </footer>